IW_Repo/Lab1/SOAPClientApp-ws/src/main/wsdl/SOAPClientAppService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ToDoWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="ToDo.xsd"/>
</xsd:schema>
</types>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<message name="listToDo">
<part name="parameters" element="tns:listToDo"/>
</message>
<message name="listToDoResponse">
<part name="parameters" element="tns:listToDoResponse"/>
</message>
<message name="addToDo">
<part name="parameters" element="tns:addToDo"/>
</message>
<message name="addToDoResponse">
<part name="parameters" element="tns:addToDoResponse"/>
</message>
<message name="removeToDo">
<part name="parameters" element="tns:removeToDo"/>
</message>
<message name="removeToDoResponse">
<part name="parameters" element="tns:removeToDoResponse"/>
</message>
<portType name="ToDoWS">
<operation name="sayHello">
<input wsam:Action="http://ws/ToDoWS/sayHelloRequest" message="tns:sayHello"/>
<output wsam:Action="http://ws/ToDoWS/sayHelloResponse" message="tns:sayHelloResponse"/>
</operation>
<operation name="listToDo">
<input wsam:Action="http://ws/ToDoWS/listToDoRequest" message="tns:listToDo"/>
<output wsam:Action="http://ws/ToDoWS/listToDoResponse" message="tns:listToDoResponse"/>
</operation>
<operation name="addToDo">
<input wsam:Action="http://ws/ToDoWS/addToDoRequest" message="tns:addToDo"/>
<output wsam:Action="http://ws/ToDoWS/addToDoResponse" message="tns:addToDoResponse"/>
</operation>
<operation name="removeToDo">
<input wsam:Action="http://ws/ToDoWS/removeToDoRequest" message="tns:removeToDo"/>
<output wsam:Action="http://ws/ToDoWS/removeToDoResponse" message="tns:removeToDoResponse"/>
</operation>
</portType>
<binding name="ToDoWSPortBinding" type="tns:ToDoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listToDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addToDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeToDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ToDoWSService">
<port name="ToDoWSPort" binding="tns:ToDoWSPortBinding">
<soap:address location="http://localhost:8080/ToDo"/>
</port>
</service>
</definitions>